<div id="navbar" class="py-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            /* identical to box height */
            
            letter-spacing: 0.1em;
            text-transform: uppercase;
            
            color: #FFFFFF;
            ">
          LOGO
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: 150px;">
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">Home</a></li>
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">Features</a></li>
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">Pricing</a></li>
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">FAQs</a></li>
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">About</a></li>
        </ul>

        <div class="text-end nav mr-5">
          <li><a href="#" class="nav-link px-4 text-white text-uppercase">SIGN UP</a></li>
          <li>
            <div id="usernameDisplay" class="nav-link px-4 text-white text-uppercase d-none">NAMA</div>
            <div class="navItem">
              <a href="/login" class="nav-link px-4 text-white text-uppercase"  class="btn btn-secondary">Login</a>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>